html {
  font-size: 14px;
  color: #444;
  line-height: 1.5em;
}

body {
  background-color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  margin: auto;
  width: 990px;
}

header {
  margin: 1em 0;
  overflow: hidden;
}

#content {
  margin: 1em 0 5em 0;
  height: 700px;
}

.title {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1.5em;
}

.brand {
  background-image: url('./assets/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 100%;
}

.nav-items {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin: 1em 0 0 0;
  cursor: pointer;
}

.nav-item:last-child {
  border-left: 1px solid #fff;
  background-color: #384470;
}

.nav-item {
  font-size: 11px;
  text-transform: uppercase;
  background-color: #444;
  padding: 0.5em 1em;
  color: #eee;
}

.nav-item:hover {
  background-color: #eee;
  color: #444;
}

.bread-crumbs {
  margin: 0;
  padding: 0;
  color: #c0c0c0;
  font-size: 12px;
}

.crumb {
  display: inline;
  list-style: none;
  cursor: pointer;
}

.crumb::after {
  content: '>';
  padding: 0 0.5em;
}

.current-crumb {
  color: #444;
}

.current-crumb::after {
  content: '';
}

.product {
  display: inline-block;
  box-sizing: border-box;
  width: 560px;
}

.product-details {
  display: inline-block;
  box-sizing: border-box;
  width: 425px;
  color: #444;
}

.description-title {
  margin-top: 0;
}

.cta-cart * {
  display: block;
  margin: 1rem;
  font-size: 14px;
}

.price {
  font-size: 18px;
}

.quantity {
  padding: 0.6em;
  width: 50px;
  text-align: center;
}

.cta-cart input[type='submit'] {
  background-color: red;
  border: 1px solid red;
  border-radius: 0;
  padding: 0.8em;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
}

.accordion {
  display: inline-block;
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
}

.accordion.js-active,
.accordion:hover {
  background-color: #fff;
}

.caret {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 8px;
}

.caret.js-collapsed {
  background-image: url('./assets/arrow-collapsed.png');
}

.caret.js-expanded {
  background-image: url('./assets/arrow-expanded.png');
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.modal {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50vw;
  height: 50vh;
  border: 1px solid #eee;
  background-color: white;
  font-size: 18px;
  font-weight: bolder;
  color: #444;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(209,209,209,1);
  box-shadow: 0px 0px 20px 0px rgba(209,209,209,1);
}

.modal.js-hidden {
  display: none;
}

.js-modal-message {
  position: relative;
  top: calc(50% - 9px);
}

.product {
  float: left;
}

.selection {
  margin-top: 40px;
}

.js-product-thumbnail {
  padding: 5px;
  width: 80px;
  border: 3px solid white;
  clear: both;
}

.js-product-thumbnail.js-selected {
  border: 3px solid black;
}

footer {
  clear: both;
  padding: 0.5em 0;
  border-top: 1px solid #444;
  background-color: #eee;

}

.footer-list {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin: 1em 0 0 0;
  font-size: 12px;
  margin: 0;
}

.footer-item {
  display: inline;
  list-style: none;
  cursor: pointer;
  padding: 0 1em;
  border-right: 1px solid #444;
}

.footer-item:last-child {
  border-right: none;

}
